@model TasksAndProjectsApp.Models.ViewModels.CreateProjectViewModel
@{
    ViewData["Title"] = "Create a project";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid my-5">
    
    <h3>Create a new project</h3>

    <hr />

    <div class="card w-25">
        <div class="card-header">
            <p class="font-weight-bold my-auto">Input project details</p>
        </div>
        <div class="card-body">

            <form action="/dashboard/projects/create" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="Name">Project name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </div>
    </div>

</div>