
@{
    ViewData["Title"] = "Not Authorized";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="text-center my-5">
    <h3 class="font-weight-bold">You are not authorized to perform this action!</h3>
</div>